html,
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none;
}

body {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game-info {
  position: fixed;
  font-size: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}

#game-title {
  font-size: 1em;
  font-weight: bold;
  z-index: 1;
}

#lobby-code {
  width: 50%;
  height: 50%;
}
.messages-container {
  position: fixed;
  display: none;
  margin: 0;
  padding: 2em;
  left:0em;
  top: 0em;
  width: 0em;
  height: 0em;
  overflow-x:hidden; 
  overflow-y:auto;
}