html,
body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    overflow: hidden;
    touch-action: none;
}

body {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game {
    display: none;
}

.game-info {
    position: fixed;
    font-size: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#turn-end-info {
    display: none;
}

#end-turn-button {
    position: fixed;
    top:0em;
    right:0em;
    margin: 1em;
    width: 9em;
    height: 3em;
}

.button-container button {
    width: 6em;
    height: 6em;
    margin: 1em;
    border-color: white;
}

.button-container {
    display: flex;
}

.button-set {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.button-row {
    width: 100%;
    display: flex;
}

.button-container .selected {
    border-radius: 3em;
    border-color: black;
}

.no-select {
    background-color: white;
    border-color: white;
    border-style: solid;
}

/* Bullet buttons */
.bullet.dir-0 {
    background: url('../img/bullet_dir_0.png');
    background-size: contain;
}

.bullet.dir-1 {
    background: url('../img/bullet_dir_1.png');
    background-size: contain;
}

.bullet.dir-2 {
    background: url('../img/bullet_dir_2.png');
    background-size: contain;
}

.bullet.dir-3 {
    background: url('../img/bullet_dir_3.png');
    background-size: contain;
}

.bullet.dir-4 {
    background: url('../img/bullet_dir_4.png');
    background-size: contain;
}

.bullet.dir-5 {
    background: url('../img/bullet_dir_5.png');
    background-size: contain;
}

.bullet.dir-6 {
    background: url('../img/bullet_dir_6.png');
    background-size: contain;
}

.bullet.dir-7 {
    background: url('../img/bullet_dir_7.png');
    background-size: contain;
}

/* Spaceship buttons */
.spaceship.dir-0 {
    background: url('../img/spaceship_dir_0.png');
    background-size: contain;
}

.spaceship.dir-1 {
    background: url('../img/spaceship_dir_1.png');
    background-size: contain;
}

.spaceship.dir-2 {
    background: url('../img/spaceship_dir_2.png');
    background-size: contain;
}

.spaceship.dir-3 {
    background: url('../img/spaceship_dir_3.png');
    background-size: contain;
}

.spaceship.dir-4 {
    background: url('../img/spaceship_dir_4.png');
    background-size: contain;
}

.spaceship.dir-5 {
    background: url('../img/spaceship_dir_5.png');
    background-size: contain;
}

.spaceship.dir-6 {
    background: url('../img/spaceship_dir_6.png');
    background-size: contain;
}

.spaceship.dir-7 {
    background: url('../img/spaceship_dir_7.png');
    background-size: contain;
}